# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER host-11

        # HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED vpnlabseedisnotveryhardtoguess
  REGISTRY oabuoun

# SUBNETS
NETWORK XYZ_LAN
	MASK 10.1.2.0/24
  GATEWAY 10.1.2.253

NETWORK ABC_LAN
	MASK 172.20.1.0/24
	GATEWAY 172.20.1.253

NETWORK ABC_ISP_LAN
	MASK 5.1.1.0/29
	GATEWAY 5.1.1.6

NETWORK XYZ_ISP_LAN
	MASK 20.1.2.0/29
	GATEWAY 20.1.2.6

NETWORK XYZ_ROUTER_FIREWALL_LAN
	MASK 172.31.1.0/24
	GATEWAY 172.31.1.254

NETWORK ISP_EXTRA_LAN
	MASK 2.2.2.0/24
	GATEWAY 2.2.2.6

# Container name and settings

CONTAINER host-11
  TERMINAL_GROUP 1
	USER user-11
  PASSWORD user-11
  ABC_LAN 172.20.1.1
	SCRIPT NONE
	X11 YES
  XTERM INSTRUCTIONS

CONTAINER host-12
  TERMINAL_GROUP 1
	USER user-22
  PASSWORD user-22
  ABC_LAN 172.20.1.2
	SCRIPT NONE
	X11 YES

CONTAINER abc-router
  TERMINAL_GROUP 1
	USER admin
  PASSWORD admin
  ABC_LAN 172.20.1.254
  ABC_ISP_LAN 5.1.1.2

CONTAINER isp-router
  TERMINAL_GROUP 3
	USER admin
  PASSWORD admin
  ABC_ISP_LAN 5.1.1.1
  XYZ_ISP_LAN 20.1.2.1
  ISP_EXTRA_LAN 2.2.2.1


CONTAINER xyz-router
  TERMINAL_GROUP 2
	USER admin
  PASSWORD admin
  XYZ_ISP_LAN 20.1.2.2
	XYZ_ROUTER_FIREWALL_LAN 172.31.1.1

CONTAINER xyz-firewall
  TERMINAL_GROUP 2
	USER admin
  PASSWORD admin
  XYZ_ROUTER_FIREWALL_LAN 172.31.1.2
	XYZ_LAN 10.1.2.254

CONTAINER web-server-1
  TERMINAL_GROUP 2
	USER web-admin
  PASSWORD web-admin
  XYZ_LAN 10.1.2.1
	SCRIPT NONE
	X11 YES

CONTAINER web-server-2
  TERMINAL_GROUP 2
	USER web-admin
  PASSWORD web-admin
  XYZ_LAN 10.1.2.2
	SCRIPT NONE
	X11 YES

CONTAINER host-31
  TERMINAL_GROUP 3
	USER user-31
  PASSWORD user-31
  ISP_EXTRA_LAN 2.2.2.10
	SCRIPT NONE
	X11 YES
  XTERM INSTRUCTIONS

CONTAINER host-32
  TERMINAL_GROUP 3
	USER user-32
  PASSWORD user-32
  ISP_EXTRA_LAN 2.2.2.11
	SCRIPT NONE
	X11 YES
  XTERM INSTRUCTIONS
