# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER host-11

        # HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/

	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED vpnlabseedisnotveryhardtoguess
  REGISTRY oabuoun

# SUBNETS
NETWORK HQ_LAN
	MASK 10.1.2.0/24
  GATEWAY 10.1.2.253

NETWORK SITE1_LAN
	MASK 172.16.1.0/24
	GATEWAY 172.16.1.253

NETWORK SITE1_ISP_LAN
	MASK 150.1.1.0/29
	GATEWAY 150.1.1.6

NETWORK HQ_ISP_LAN
	MASK 200.1.1.0/29
	GATEWAY 200.1.1.6

NETWORK ISP_EXTRA_LAN
	MASK 7.7.7.0/24
	GATEWAY 7.7.7.6

# Container name and settings

CONTAINER host-11
  TERMINAL_GROUP 1
	USER user-11
  PASSWORD user-11
  SITE1_LAN 172.16.1.1
	SCRIPT NONE
	X11 YES
  XTERM INSTRUCTIONS

CONTAINER host-12
  TERMINAL_GROUP 1
	USER user-22
  PASSWORD user-22
  SITE1_LAN 172.16.1.2
	SCRIPT NONE
	X11 YES

CONTAINER site1-router
  TERMINAL_GROUP 1
	USER admin
  PASSWORD admin
  SITE1_LAN 172.16.1.254
  SITE1_ISP_LAN 150.1.1.2

CONTAINER isp-router
  TERMINAL_GROUP 3
	USER admin
  PASSWORD admin
  SITE1_ISP_LAN 150.1.1.1
  HQ_ISP_LAN 200.1.1.1
  ISP_EXTRA_LAN 7.7.7.1


CONTAINER hq-router
  TERMINAL_GROUP 2
	USER admin
  PASSWORD admin
  HQ_ISP_LAN 200.1.1.2
	HQ_LAN 10.1.2.254

CONTAINER web-server-1
  TERMINAL_GROUP 2
	USER web-admin
  PASSWORD web-admin
  HQ_LAN 10.1.2.1
	SCRIPT NONE
	X11 YES

CONTAINER web-server-2
  TERMINAL_GROUP 2
	USER web-admin
  PASSWORD web-admin
  HQ_LAN 10.1.2.2
	SCRIPT NONE
	X11 YES

CONTAINER host-31
  TERMINAL_GROUP 3
	USER user-31
  PASSWORD user-31
  ISP_EXTRA_LAN 7.7.7.10
	SCRIPT NONE
	X11 YES
  XTERM INSTRUCTIONS

CONTAINER host-32
  TERMINAL_GROUP 3
	USER user-32
  PASSWORD user-32
  ISP_EXTRA_LAN 7.7.7.11
	SCRIPT NONE
	X11 YES
  XTERM INSTRUCTIONS
